.vscode
3ds/build/
3ds/out/
out/
release/
assets/gfx/pkm
assets/gfx/types
assets/romfs/mg/*.json.bz2
assets/romfs/mg/*.bin.bz2
assets/romfs/gfx/*
!assets/romfs/gfx/pkm_spritesheet.t3x
!assets/romfs/gfx/types_spritesheet.t3x
assets/romfs/scripts/
!common/EventsGalleryPacker
common/EventsGalleryPacker/EventsGallery
common/EventsGalleryPacker/out
common/EventsGalleryPacker/__pycache__
common/include/revision.h
