[submodule "build/PKSM-Scripts"]
	path = external/PKSM-Scripts
	url = https://github.com/FlagBrew/PKSM-Scripts
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/FlagBrew/PKSM.wiki.git
[submodule "core"]
	path = core
	url = https://github.com/FlagBrew/PKSM-Core
[submodule "external/picoc"]
	path = external/picoc
	url = https://github.com/FlagBrew/picoc
[submodule "Plutonium"]
	path = switch/Plutonium
	url = https://github.com/XorTroll/Plutonium.git
[submodule "switch/Plutonium"]
	path = switch/Plutonium
	url = git@github-personal:Omar-Kay/Plutonium.git
