[submodule "source/memecrypto"]
	path = source/memecrypto
	url = https://github.com/dsoldier/memecrypto.git
[submodule "buildtools"]
	path = buildtools
	url = https://github.com/BernardoGiordano/buildtools.git
[submodule "source/pp2d"]
	path = source/pp2d
	url = https://github.com/BernardoGiordano/pp2d