.vscode
3ds/build/
3ds/build_release/
3ds/out/
3ds/out_release/
out/
release/
assets/gfx/pkm
assets/gfx/types
assets/romfs/mg/*.json.bz2
assets/romfs/mg/*.bin.bz2
assets/romfs/gfx/*
assets/romfs/i18n/
!assets/romfs/gfx/pkm_spritesheet.t3x
!assets/romfs/gfx/types_spritesheet.t3x
assets/romfs/scripts/
external/EventsGalleryPacker/EventsGallery
external/EventsGalleryPacker/out
external/EventsGalleryPacker/gallerypack*
common/include/revision.h
external/tools/*
!external/tools/*.cpp
build.log
